<div class="login-body">
    <div class="info">
        <div class="logo-container">
            <img class="img" alt="productLogo" src="assets/images/digitalberry.svg" [style.height.px]="35">
            <span class="product-name">BerryCert</span>
            <span class="comment"><span class="mdi mdi-robot filter"></span>BerryCopilot</span>
        </div>
        <div class="copyright">©2024 Digitalberry. All rights reserved</div>
        
    </div>
    <div class="form">
        <form (ngSubmit)="submit()">
            <div class="header">
                
              @if (loggedIn=== 'true') {
                  <div class="green-box">
                      login successful
                  </div>
              }
              @if (loggedIn === 'false') {
                  <div class="red-box">
                      wrong username or password
                  </div>
              }
              @if (loggedIn === 'none') {
                  <div >
                      {{ response }}
                  </div>
              }
                  
              </div>
            <div class="title">Welcome back</div>
            <div class="input-group">
                <div class="svg">
                    <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user"
                        class="svg-inline--fa fa-user fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
                        </path>
                    </svg>
                </div>
                <input type="text" id="emailInput" name="emailInput" [(ngModel)]="emailInput" placeholder="E-mail" minlength="2" required>
            </div>
            <div class="input-group">
                <div class="svg">
                    <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock"
                        class="svg-inline--fa fa-lock fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z">
                        </path>
                    </svg>
                </div>
                <input type="password" id="passwordInput" name="passwordInput" [(ngModel)]="passwordInput" placeholder="Password" minlength="2" required>
            </div>
            <div class="input-group2">
                <select name="site" id="site" [(ngModel)]="site">
                    <option value="appliance">appliance</option>
                    <option value="dev1">dev1</option>
                    <option value="test1">test1</option>
                </select>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe">
                <label for="rememberMe">Remember me</label>
            </div>
            <button id="signin" type="submit" >
                @if (loading==true) {
                    <div id="card">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                }@else {
                Login
            }
            </button>
        </form>
    </div>
</div>