<hr class="horizontal dark" />
<p class="text-uppercase text-sm">Credentials</p>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="example-text-input" class="form-control-label"
        >Name</label
      >
      <input class="form-control" type="text" id="name" name="name" placeholder="Credentials name" [(ngModel)]="name">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="example-text-input" class="form-control-label"
        >Authentication type</label
      >
      <select class="form-control" id="atype" name="atype" placeholder="choose your Authentication type" [(ngModel)]="atype" required>
        <option value="SSH_PASSWORD">SSH with password</option>
        <option value="test">SSH with clear key</option>
        <option value="test">SSH with encrypted key</option>
        <option value="WINRM_PASSWORD">WINRM</option>
        <option value="TLS_PLAIN_KEY">TLS with clear key</option>
        <option value="test">TLS with encrypted key</option>
        <option value="test">Digicert API key</option>
        <option value="test">Login / Password</option>
        <option value="test">Sectigo CertManager (SCM) Login / Password</option>

    </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="example-text-input" class="form-control-label"
        >Username</label
      >
      <input class="form-control" type="text" id="username" name="username" placeholder="Enter your username" [(ngModel)]="username"
                required>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="example-text-input" class="form-control-label"
        >Password</label
      >
      <input class="form-control" type="password" id="passwordInput" name="password" placeholder="Enter your password"
                [(ngModel)]="password" required>
    </div>
  </div>
</div>